* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--gray1);
  margin: 0;
  background-image: url("bgimg.png");
}

h1 {
  text-align: center;
}

.grid-item {
  padding: 10px;
  background-color: var(--purple);
  color: var(--white);
  font-size: 2em;
  text-align: center;
}

.homediv {
  text-align: center;
  color: var(--white);
  font-size: 2em;
  padding: 15px;
  height: 250px;
  background-image: url("welcome.jpg");
}

.socialmedia {
  font-size: 0.75em;
  padding: 5px;
  margin-bottom: 2px;
}
.navlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: circle;
  padding: 5px;
  margin-top: 2px;
  display: inline-block;
}

.navitem {
  text-align: left;
}

.navlink {
  padding: 5px;
  text-decoration: none;
  font-size: 0.75em;
}

.aboutdiv {
  text-align: center;
  color: var(--black);
  font-size: 2em;
  padding: 15px;
  margin-bottom: 2px;
}

.image {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.paragraph {
  font-size: 0.5em;
  text-align: left;
  padding: 5px;
}

.projectdiv {
  text-align: center;
  color: var(--black);
  font-size: 2em;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.proj {
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
}

.img {
  padding: 5px;
  margin-top: 5px;
  height: 200px;
  width: 300px;
}

.git {
  font-size: 0.75em;
  font-style: italic;
}
.projects {
  background: var(--white);
  text-align: center;
  border-radius: 12px;
  border: 2px solid;
  border-collapse: collapse;
  width: 320px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

@media (min-width: 414px) and (max-width: 768px) {
  .homediv {
    height: 350px;
  }
  .projectdiv {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 0px) and (max-width: 414px) {
  .homediv {
    height: 400px;
  }
  .projectdiv {
    display: flex;
    flex-direction: column;
  }
}
.expdiv {
  text-align: center;
  color: var(--black);
  font-size: 2em;
  padding: 15px;
  margin-bottom: 2px;
}
